# Tool/Framework Level
.idea/
.gradle
**/.terraform

#Hugo
**/build
**/generator/__pycache__/
**/site/.hugo_build.lock
**/site/public
**/.hugo_build.lock

#Node
**/node_modules/
**/.angular
kaleidoscope/dist/*

# Misc
**/.DS_Store
**/Thumbs.db